
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Great+Vibes&family=Playwrite+AU+NSW+Guides&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: rgb(186, 221, 252);
}
p{
    font-style: italic;
    text-align: center;
    font-size: 40px;
    margin: 30px;
}
.container{
    border: 0px;
    margin: 50px 0 0 250px;
    width: 400px;
    /* text-align: center; */
    display: grid;
    /* grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr ); */
    grid-template-columns: 200px 250px 90px 90px 150px 30px  ;
    grid-template-rows: 150px 150px   ;
    grid-gap: 10px;

}
.box1{
    background-color: rgb(139, 8, 8);
    grid-row-start:1 ;
    grid-row-end:2 ;


}
.box2{
    background-color: aquamarine;
    /* grid-column-start:2;
    grid-column-end: 3; */
    

}
.box3{
    background-color: green;
    grid-column-start: 3;
    grid-column-end:4;
    

}

.box4{
    background-color: skyblue;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 7;

}
.box5{
    background-color: rgb(0, 132, 255);
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start:1 ;
    grid-row-end:7 ;
}
.box6{
    background-color: skyblue;
    grid-column-start: 6;
    grid-column-end:6 ;
    grid-row-start: 1;
    grid-row-end: 7;
    
}
.box7{
    background-color: orangered;
    grid-row-start: 2;
    grid-row-end: 7;
    

}
.box8{
    background-color: orange;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 7;


}

